# Question 1

In [ ]:
import pymysql.cursors #to connect database 

connection = pymysql.connect(host="localhost", # host name
                           user = "root",  #user name
                           password = "190708", # password 
                            cursorclass=pymysql.cursors.DictCursor)

In [ ]:
with connection.cursor() as cursor: #to see database and check connection is ensured
    cursor.execute("show databases")
    databases = cursor.fetchall()
    
print(databases)

# Question 2

In [ ]:
"""
with connection.cursor() as cursor:
    cursor.execute("create database Mall") #Creating database this work if ı just one run time 
    databases = cursor.fetchall() #second time run this will give error 
    
print(databases)
"""

In [ ]:

with connection.cursor() as cursor: 
    cursor.execute("use mall") #to use mall database
    databases = cursor.fetchall()
    
print(databases)

In [ ]:
# Creating customer tables i put customer tables into querry box ıt has to run just one time,second time it will give error
""" 
with connection.cursor() as cursor:
    cursor.execute("create table Customer( customer_id int not null, name varchar(20), lastname varchar(20), registrion_date date,score int, primary key(customer_id));")
    databases = cursor.fetchall()
    
print(databases)
"""
"""
create table Customer( /* This line create  customer table into mall database */
customer_id int not null, /* int attribute will primary key, not null means cannot be empty beucase primary key can not be empty*/
name varchar(20), /* varchar attribute */
lastname varchar(20), /* varchar attribute*/
registrion_date date, /* date attribute */
score int, # score attribute
primary key(customer_id) /* in this line customer id assigned primary key so that custormer id have to be unique*/

);
"""
1
# Creating customer tables i put customer tables into querry box ıt has to run just one time,second time it will give error
2
""" 
3
with connection.cursor() as cursor:
4
    cursor.execute("create table Customer( customer_id int not null, name varchar(20), lastname varchar(20), registrion_date date,score int, primary key(customer_id));")
5
    databases = cursor.fetchall()
6
    
7
print(databases)
8
"""
9
"""
10
create table Customer( /* This line create  customer table into mall database */
11
customer_id int not null, /* int attribute will primary key, not null means cannot be empty beucase primary key can not be empty*/
12
name varchar(20), /* varchar attribute */
13
lastname varchar(20), /* varchar attribute*/
14
registrion_date date, /* date attribute */
15
score int, # score attribute
16
primary key(customer_id) /* in this line customer id assigned primary key so that custormer id have to be unique*/
17
​
18
);
19
"""
'\ncreate table Customer( /* This line create  customer table

In [ ]:
# Creating inventory tables i put customer tables into querry box ıt has to run just one time,second time it will give error
# because inventory tables exist
"""
with connection.cursor() as cursor: 
    cursor.execute("create table Inventory( item_id int not null, item_name varchar(20),cost_integer int , primary key (item_id) );") 
    databases = cursor.fetchall()
    
print(databases)
"""
"""
create table Inventory( /* this line create ınventory table into mall database*/
item_id int not null, /* inventory id is attribute as a int and will be primary key,not null means cannot be empty beucase primary key can not be empty */
item_name varchar(20),/* varchar attribute */
cost_integer int , /* intger attribute */
primary key (item_id) /* this line  make invertory id is primary key so hat inverntory id have to be unique*/
);
"""

In [ ]:
#Creating purchase tables i put customer tables into querry box ıt has to run just one time,second time it will give error
# because purchase tables exist
"""
with connection.cursor() as cursor: 
    cursor.execute("create table Purchase(item_id int, customer_id int,primary key(item_id,customer_id));") 
    databases = cursor.fetchall()
    
"""
"""
create table Purchase( /* this line create purchase table that have some  relation  */
item_id int, /* item id, and customer_id is primary key becuase purchase table is a relation table
customer_id int, 

);
"""

In [ ]:
# to check tables
with connection.cursor() as cursor: #to check tables 
    cursor.execute("show tables") 
    databases = cursor.fetchall()
print(databases)

# Question 3

In [ ]:
# this cell append values into customer tables by using val array
"""
val = [(1,"özgür","özdemir","2020-05-12",40),
       (2,"tolga","yazan","2015-11-22",80),
       (3,"uzay","çetin","2020-05-06",30),
       (4,"mehmet","turgut","2015-03-08",60),
       (5,"alper","çelebi","2015-03-09",10)
    
]
with connection.cursor() as cursor:
   sql = "INSERT INTO customer (customer_id , name , lastname,registrion_date,score) VALUES (%s,%s,%s,%s,%s)"

   cursor.executemany(sql,val) #this cell make insert operation
connection.commit()    
    
"""

In [ ]:
with connection.cursor() as cursor:
    cursor.execute("select * from customer") # to check customer values is implemented
    customer = cursor.fetchall()
#print(customer)
for i in customer: # to check better
    print(i)

In [ ]:
# this cell append values into ınventory table  by using val array
"""
val = [(1,"mackbook",15000),
       (2,"mouse",70),
       (3,"keyboard",80),
       (4,"GTX2080",7000),
       (5,"airpod",1500)
    
]
with connection.cursor() as cursor:
   sql = "INSERT INTO Inventory (item_id ,  item_name , cost_integer) VALUES (%s,%s,%s)"

   cursor.executemany(sql,val)#this cell make insert operation
connection.commit()  
"""

In [ ]:
with connection.cursor() as cursor:
    cursor.execute("select * from Inventory") # checking Is ınventory values implemented?
    inventory = cursor.fetchall()
#print(inventory)
for i in inventory: # to check better
    print(i)

In [ ]:
# this cell append values into purchase table  by using val array
"""
val = [(1,3),
       (2,1),
       (3,2),
       (4,4),
       (5,5)
    
]
with connection.cursor() as cursor:
   sql = "INSERT INTO Purchase(item_id , customer_id )VALUES (%s,%s)"

   cursor.executemany(sql,val)
connection.commit() 
"""

In [ ]:
with connection.cursor() as cursor:
    cursor.execute("select * from Purchase") # checking Is purhases values implemented?
    Purchase = cursor.fetchall()
#print(Purchase)
for i in Purchase: # to check better
    print(i)

# Question 4

In [ ]:
#4 - a  ----> Select operation
# NEW S ← σscore<20(CUSTOMER)
with connection.cursor() as cursor: # now we select customer whose score less than 20
    cursor.execute("select * from customer where score < 20 ") # this line provide that
    NEWS = cursor.fetchall()
print(NEWS)

In [ ]:
#4-b ----> select operation
#LOY ALS ← σscore>=50(CUST OMER)
with connection.cursor() as cursor: # now we select customer whose score higher  than 50 or equal 50
    cursor.execute("select * from customer where score >= 50 ") # this line provide that
    LOYALS = cursor.fetchall()
#print(LOYALS)
for c in LOYALS: # ı use for loop to examine better
    print(c)

In [ ]:
#4-c   ----- > project operation
# RESULT1 ← πname,lastname(LOYALS)
with connection.cursor() as cursor:  #this question want to see name and lastname where score hight than 50 or equal 50 
    cursor.execute("select name, lastname from customer where score >= 50 ")  #this line ensures what is desired
    RESULT1 = cursor.fetchall() 
#print(LOYALS)
for c in RESULT1: # ı use for loop to examine better
    print(c)

In [ ]:
#4 -d 
#RESULT2 ← πname,lastname(NEWS) ∪ πname,lastname(LOYALS)
# this part ı did union operation combine new and loyals results

with connection.cursor() as cursor:  
    cursor.execute("select name,lastname from customer where score < 20 UNION select name,lastname from customer where score >= 50") 
   # above the code get name and lastname  where score less than 20 and where score higher than 50 or equal 50
    RESULT2 = cursor.fetchall() # 
#print(LOYALS)
for c in RESULT2: # ı use for loop to examine better
    print(c)

In [ ]:
#4-e
#RESULT3 ← π(CUSTOMER × PURCHASE)
with connection.cursor() as cursor: #
    cursor.execute("select * from customer cross join Purchase") # make cross join  and take values from custome and purchase table
    RESULT3 = cursor.fetchall() # ın the result we get 5x5 = 25 output 
    # every values in customer tables multiply every values in purchase tables by one one, so we get 25 output becase 
    #customer consist of 5 value and also purchase include 5 value
#print(LOYALS)

for c in RESULT3: # ı use for loop to examine better
    i = +1
    print(c)
    print("------")

In [ ]:
# 4 - f
# RESULT4 ← π(LOYALS ./customer id=costomer id PURCHASE) 
with connection.cursor() as cursor: # making inner join operation
    cursor.execute("select * "  + " from customer inner join Purchase on  customer.customer_id = Purchase.customer_id"  ) # this line provide that
    # above the code make inner join operation by using inner join code we take customer and purchase while we doing that we just take 
    # if their customer id match each other.That mean we only see outputs ıf  customer tables customer_id equals 
    # purchase tables customer _id
    RESULT4 = cursor.fetchall()
#print(LOYALS)
for c in RESULT4: # ı use for loop to examine better
    print(c)

# Question 5

In [ ]:
# Print name and lastname of the customers who spent more than $200 and score is more than 30.

with connection.cursor() as cursor: 
    
    
    command = ("select name , lastname   " + 
               "from customer inner join Purchase on customer.customer_id = Purchase.customer_id " +  
               "inner join Inventory on  Purchase.item_id = Inventory.item_id  " + 
               "where cost_integer >200 and score >30  ")
    
    # ın this cell want to  customer name and lastname ıf their score higher than 200 and higher than 30.In order to do that 
    # we have to get cost_integer value, so we have to connect Inventory table because cost integer exist in Inventory table
    # Therefore we use inner join command to acces Purchase table from customer table then we connect Inventory table from purchase  table
    # by doing these we get cost value
    
    cursor.execute(command)

    RESULT5 = cursor.fetchall()

for c in RESULT5: # ı use for loop to examine better
    print(c)

# Question 6

In [ ]:
def insertcustomer(id, name, lastname, registration,score):
        with connection.cursor() as cursor:
            command="insert into customer (customer_id,name,lastname,registrion_date,score) values (%s, %s,%s,%s,%s)"
            values=(id,name,lastname,registration,score)
            cursor.execute(command,values)
            connection.commit() 
# In this part we add new values into customer table by a functions            
                


#insertcustomer(6,"Özgün" , "Çankaya" ,"2018-12-12",20) # adding new values

In [ ]:
#Checking new values added or not
with connection.cursor() as cursor:
     
            cursor.execute("select * from customer")
            customer=cursor.fetchall()
            for c in customer:
                print(c)

In [ ]:
# adding new values in Inventory table by a functions
def insertInventory(id, name, cost):
        with connection.cursor() as cursor:
            command="INSERT INTO Inventory (item_id ,  item_name , cost_integer) VALUES (%s,%s,%s)"
            values=(id,name,cost)
            cursor.execute(command,values)
            connection.commit() 

#insertInventory(6,"PS5",10000) # adding new values

In [ ]:
#  checking new inventory value
with connection.cursor() as cursor:
     
            cursor.execute("select * from Inventory")
            Inventory=cursor.fetchall()
            for c in Inventory:
                print(c)

In [ ]:
# adding new values in Purchase table by a functions
def insertInventory(item_id,customer_id):
        with connection.cursor() as cursor:
            command="INSERT INTO Purchase(item_id , customer_id )VALUES (%s,%s)"
            values=(item_id,customer_id)
            cursor.execute(command,values) #this part add new into purchase table 
            connection.commit() 
            cursor.execute("select * from Purchase") # Checking new values added or not
            Purchase=cursor.fetchall()
            for c in Purchase:
                print(c)
            
#insertInventory(6,6)   # adding new values