In [1]:
# to connect sql
import pymysql.cursors

connection = pymysql.connect(host="localhost",
                           user = "root",
                           password = "190708",
                           cursorclass=pymysql.cursors.DictCursor)

In [2]:
#ın this cell i create my channel as TolgaTV
with connection.cursor() as cursor:
    #cursor.execute("create database TolgaTV") #Creating database this work if ı just one run time  I 
    cursor.execute("show databases")
   
    databases = cursor.fetchall() #second time run this will give error 
    
print(databases)

[{'Database': 'information_schema'}, {'Database': 'mall'}, {'Database': 'mysql'}, {'Database': 'performance_schema'}, {'Database': 'sakila'}, {'Database': 'sys'}, {'Database': 'tolgatv'}, {'Database': 'world'}]

In [3]:

with connection.cursor() as cursor: 
    cursor.execute("use TolgaTV") #to use TolgaTV database

In [61]:
# now I  am creting tables into tolgaTv channel
with connection.cursor() as cursor:
    """
    cursor.execute("create table programmes( programme_id  int not null, programme_name varchar(20), programme_type varchar(20),presentation_date date,primary key(programme_id));" )
    # created programmes table programme_id is primary key. other attributes  are simple attributes
    cursor.execute("create table advertisement( advertisement_id int not null,advertisement_name varchar(20), period int,primary key(advertisement_id ) );")
    # created advertisement advertisement_id is a primary key,other attributes  are simple attributes
    cursor.execute("create table actor( actor_id int not null,actor_name varchar(20), actor_lastname varchar(20), salary float,primary key( actor_id) );")
    # created actor actor_id  is a primary key,other attributes  are simple attributes
    cursor.execute("create table used(programme_id   int, advertisement_id    int,primary key(programme_id ,advertisement_id    ));") 
    #created RELATION TABLE show which advertisement used in which programmes 
    cursor.execute("create table plays(programme_id   int,  actor_id    int,primary key(programme_id , actor_id));") 
    #created RELATION TABLE show which played in which programmes 
    """

#  Populating Tables

In [62]:
# ı put codes into queryy box because this cell has to work once time, second time it gives error 
"""
val1 = [(1,"TolgaShow","Comedi","2020-05-12"), # array in order to populate programmes table
       (2,"FoxHaber","News","2015-11-22"),
       (3,"Hercai","Series","2020-05-06"),
       (4,"AvMevsimi","movie","2018-03-08"),
       (5,"Survior2021","realityshow","2019-05-13")
    
]

val2 = [(1,"KaymakYogurt",2), # array in order to populate advertisement table
       (2,"Akbank",3),
       (3,"BmwCars",1),
       (4,"RentCars",5),
       (5,"dark chocolate",4)
   
]


val3 = [(1,"Kıvanç","Tatlıtuğ",15.000), # array in order to populate actor table
       (2,"Murat","Unalmış",20.000),
       (3,"Özge","Namal",30.000),
       (4,"Halit","Ergenç",50.000),
       (5,"Beren","Saat",10.000)
    
]

val4 = [(1,3),  # array in order to populate used  Relation table
       (1,2),
       (2,3),
       (3,3),
       (4,1),
       (5,4),
       (5,5)
              
   ]


val5=[(1,1), # array in order to populate plays relation  table
       (1,3),
       (2,1),
       (3,1),
       (4,5),
       (5,4)           
   ]

with connection.cursor() as cursor:
    
    # insert operation
   sql1 = "INSERT INTO  programmes(programme_id , programme_name , programme_type,presentation_date) VALUES (%s,%s,%s,%s)"
   sql2= "INSERT INTO  advertisement( advertisement_id , advertisement_name , period) VALUES (%s,%s,%s)"
   sql3= "INSERT INTO  actor( actor_id  , actor_name , actor_lastname,salary) VALUES (%s,%s,%s,%s)"
   sql4 = "INSERT INTO used(programme_id , advertisement_id) VALUES (%s,%s)"
   sql5 = "INSERT INTO plays(programme_id , actor_id) VALUES (%s,%s)"

   cursor.executemany(sql1,val1) #this cell make insert operation
   cursor.executemany(sql2,val2) #this cell make insert operation
   cursor.executemany(sql3,val3) #this cell make insert operation
   cursor.executemany(sql4,val4) #this cell make insert operation
   cursor.executemany(sql5,val5)#this cell make insert operation
connection.commit()    
"""

'\nval1 = [(1,"TolgaShow","Comedi","2020-05-12"), # array in order to populate programmes table\n       (2,"FoxHaber","News","2015-11-22"),\n       (3,"Hercai","Series","2020-05-06"),\n       (4,"AvMevsimi","movie","2018-03-08"),\n       (5,"Survior2021","realityshow","2019-05-13")\n    \n]\n\nval2 = [(1,"KaymakYogurt",2), # array in order to populate advertisement table\n       (2,"Akbank",3),\n       (3,"BmwCars",1),\n       (4,"RentCars",5),\n       (5,"dark chocolate",4)\n   \n]\n\n\nval3 = [(1,"Kıvanç","Tatlıtuğ",15.000), # array in order to populate actor table\n       (2,"Murat","Unalmış",20.000),\n       (3,"Özge","Namal",30.000),\n       (4,"Halit","Ergenç",50.000),\n       (5,"Beren","Saat",10.000)\n    \n]\n\nval4 = [(1,3),  # array in order to populate used  Relation table\n       (1,2),\n       (2,3),\n       (3,3),\n       (4,1),\n       (5,4),\n       (5,5)\n              \n   ]\n\n\nval5=[(1,1), # array in order to populate plays relation  table\n       (1,3),\n       (2,1),\n       (3,1),\n       (4,5),\n       (5,4)           \n   ]\n\nwith connection.cursor() as cursor:\n    \n    # insert operation\n   sql1 = "INSERT INTO  programmes(programme_id , programme_name , programme_type,presentation_date) VALUES (%s,%s,%s,%s)"\n   sql2= "INSERT INTO  advertisement( advertisement_id , advertisement_name , period) VALUES (%s,%s,%s)"\n   sql3= "INSERT INTO  actor( actor_id  , actor_name , actor_lastname,salary) VALUES (%s,%s,%s,%s)"\n   sql4 = "INSERT INTO used(programme_id , advertisement_id) VALUES (%s,%s)"\n   sql5 = "INSERT INTO plays(programme_id , actor_id) VALUES (%s,%s)"\n\n   cursor.executemany(sql1,val1) #this cell make insert operation\n   cursor.executemany(sql2,val2) #this cell make insert operation\n   cursor.executemany(sql3,val3) #this cell make insert operation\n   cursor.executemany(sql4,val4) #this cell make insert operation\n   cursor.executemany(sql5,val5)#this cell make insert operation\nconnection.commit()    \n'

# Checking  that entities  is implemented

In [63]:
with connection.cursor() as cursor:
    cursor.execute("select * from programmes ") # checking Is programmes values implemented?
    
    
    programmes = cursor.fetchall()

#print(programmes)
for i in programmes: # to check better
    print(i)

{'programme_id': 1, 'programme_name': 'TolgaShow', 'programme_type': 'Comedi', 'presentation_date': datetime.date(2020, 5, 12)}
{'programme_id': 2, 'programme_name': 'FoxHaber', 'programme_type': 'News', 'presentation_date': datetime.date(2015, 11, 22)}
{'programme_id': 3, 'programme_name': 'Hercai', 'programme_type': 'Series', 'presentation_date': datetime.date(2020, 5, 6)}
{'programme_id': 4, 'programme_name': 'AvMevsimi', 'programme_type': 'movie', 'presentation_date': datetime.date(2018, 3, 8)}
{'programme_id': 5, 'programme_name': 'Survior2021', 'programme_type': 'realityshow', 'presentation_date': datetime.date(2019, 5, 13)}
{'programme_id': 13, 'programme_name': 'iboShow', 'programme_type': 'talkshow', 'presentation_date': datetime.date(2018, 5, 13)}

In [64]:
with connection.cursor() as cursor:

   cursor.execute("select * from advertisement ") # checking Is advertisement values implemented?
   advertisement = cursor.fetchall() 

#print(advertisement)
for i in advertisement: # to check better
    print(i)

{'advertisement_id': 1, 'advertisement_name': 'KaymakYogurt', 'period': 2}
{'advertisement_id': 2, 'advertisement_name': 'Akbank', 'period': 3}
{'advertisement_id': 3, 'advertisement_name': 'BmwCars', 'period': 1}
{'advertisement_id': 4, 'advertisement_name': 'RentCars', 'period': 5}
{'advertisement_id': 5, 'advertisement_name': 'dark chocolate', 'period': 4}
{'advertisement_id': 6, 'advertisement_name': 'Milshake', 'period': 3}

In [65]:
with connection.cursor() as cursor:

   cursor.execute("select * from actor ") # checking Is actor values implemented?
   actor = cursor.fetchall() 

#print(actor)
for i in actor: # to check better
    print(i)

{'actor_id': 1, 'actor_name': 'Kıvanç', 'actor_lastname': 'Tatlıtuğ', 'salary': 15.0}
{'actor_id': 2, 'actor_name': 'Murat', 'actor_lastname': 'Unalmış', 'salary': 20.0}
{'actor_id': 3, 'actor_name': 'Özge', 'actor_lastname': 'Namal', 'salary': 30.0}
{'actor_id': 4, 'actor_name': 'Halit', 'actor_lastname': 'Ergenç', 'salary': 50.0}
{'actor_id': 5, 'actor_name': 'Beren', 'actor_lastname': 'Saat', 'salary': 10.0}
{'actor_id': 6, 'actor_name': 'Tarık', 'actor_lastname': 'Akan', 'salary': 30.0}

In [66]:
with connection.cursor() as cursor:

   cursor.execute("select * from used ") # checking Is used values implemented?
   used = cursor.fetchall() 

#print(used)
for i in used: # to check better
    print(i)

{'programme_id': 1, 'advertisement_id': 2}
{'programme_id': 1, 'advertisement_id': 3}
{'programme_id': 2, 'advertisement_id': 3}
{'programme_id': 3, 'advertisement_id': 3}
{'programme_id': 4, 'advertisement_id': 1}
{'programme_id': 5, 'advertisement_id': 4}
{'programme_id': 5, 'advertisement_id': 5}
{'programme_id': 13, 'advertisement_id': 6}

In [67]:
with connection.cursor() as cursor:

   cursor.execute("select * from plays ") # checking Is plays values implemented?
   plays = cursor.fetchall() 

#print(plays)
for i in plays: # to check better
    print(i)

{'programme_id': 1, 'actor_id': 1}
{'programme_id': 1, 'actor_id': 3}
{'programme_id': 2, 'actor_id': 1}
{'programme_id': 3, 'actor_id': 1}
{'programme_id': 4, 'actor_id': 5}
{'programme_id': 5, 'actor_id': 4}
{'programme_id': 13, 'actor_id': 6}

# Methods
## I will use them in user interface

### Programme tables method:

In [68]:

# to insert a new value into programme table i will use this method in user interface part
def insertprogrammes(programme_id, programme_name, programme_type, presentation_date):
        with connection.cursor() as cursor:
            command="insert into programmes (programme_id, programme_name, programme_type, presentation_date) values (%s, %s,%s,%s)"
            values=(programme_id, programme_name, programme_type, presentation_date)
            cursor.execute(command,values)
            connection.commit() 

# to show programme table entities i will use this method in user interface part
def ShowProgrammes():
    with connection.cursor() as cursor:
      cursor.execute("select * from programmes ") # checking Is programmes values implemented?
    
    
      programmes = cursor.fetchall()

     #print(programmes)
      for i in programmes: # to check better
       print(i)
ShowProgrammes()

{'programme_id': 1, 'programme_name': 'TolgaShow', 'programme_type': 'Comedi', 'presentation_date': datetime.date(2020, 5, 12)}
{'programme_id': 2, 'programme_name': 'FoxHaber', 'programme_type': 'News', 'presentation_date': datetime.date(2015, 11, 22)}
{'programme_id': 3, 'programme_name': 'Hercai', 'programme_type': 'Series', 'presentation_date': datetime.date(2020, 5, 6)}
{'programme_id': 4, 'programme_name': 'AvMevsimi', 'programme_type': 'movie', 'presentation_date': datetime.date(2018, 3, 8)}
{'programme_id': 5, 'programme_name': 'Survior2021', 'programme_type': 'realityshow', 'presentation_date': datetime.date(2019, 5, 13)}
{'programme_id': 13, 'programme_name': 'iboShow', 'programme_type': 'talkshow', 'presentation_date': datetime.date(2018, 5, 13)}

### Advertisement Table Methods:

In [69]:
# to insert new value into advertisement table i will use this method in user interface part
def insertAdvertisement( advertisement_id , advertisement_name , period):
        with connection.cursor() as cursor:
            command="insert into advertisement ( advertisement_id , advertisement_name , period) values (%s, %s,%s)"
            values=( advertisement_id , advertisement_name , period)
            cursor.execute(command,values)
            connection.commit() 

# to show advertisement tables entites i will use this method in user interface part
def ShowAdvertisement():
    with connection.cursor() as cursor:
      cursor.execute("select * from advertisement ") # checking Is programmes values implemented?
    
    
      advertisement = cursor.fetchall()

  #print(advertisement)
      for i in advertisement: # to check better
         print(i)
ShowAdvertisement()

{'advertisement_id': 1, 'advertisement_name': 'KaymakYogurt', 'period': 2}
{'advertisement_id': 2, 'advertisement_name': 'Akbank', 'period': 3}
{'advertisement_id': 3, 'advertisement_name': 'BmwCars', 'period': 1}
{'advertisement_id': 4, 'advertisement_name': 'RentCars', 'period': 5}
{'advertisement_id': 5, 'advertisement_name': 'dark chocolate', 'period': 4}
{'advertisement_id': 6, 'advertisement_name': 'Milshake', 'period': 3}

### Actor Table Methods:

In [70]:

# to add new record into actor table i will use this method in user interface part
def insertActor( actor_id  , actor_name , actor_lastname,salary):
        with connection.cursor() as cursor:
            command="insert into actor ( actor_id  , actor_name , actor_lastname,salary) values (%s, %s,%s,%s)"
            values=( actor_id  , actor_name , actor_lastname,salary)
            cursor.execute(command,values)
            connection.commit() 

 # to see actor table entites i will use this method in user interface part
def ShowActor():
    with connection.cursor() as cursor:

      cursor.execute("select * from actor ") # checking Is actor values implemented?
      actor = cursor.fetchall() 

      #print(actor)
      for i in actor: # to check better
        print(i)
        
ShowActor()

{'actor_id': 1, 'actor_name': 'Kıvanç', 'actor_lastname': 'Tatlıtuğ', 'salary': 15.0}
{'actor_id': 2, 'actor_name': 'Murat', 'actor_lastname': 'Unalmış', 'salary': 20.0}
{'actor_id': 3, 'actor_name': 'Özge', 'actor_lastname': 'Namal', 'salary': 30.0}
{'actor_id': 4, 'actor_name': 'Halit', 'actor_lastname': 'Ergenç', 'salary': 50.0}
{'actor_id': 5, 'actor_name': 'Beren', 'actor_lastname': 'Saat', 'salary': 10.0}
{'actor_id': 6, 'actor_name': 'Tarık', 'actor_lastname': 'Akan', 'salary': 30.0}

### Used table methods:

In [71]:

# to add new record into used table i will use this method in user interface part
def insertUsed(programme_id , advertisement_id):
        with connection.cursor() as cursor:
            command="INSERT INTO used(programme_id , advertisement_id) VALUES (%s,%s)"
            values=( programme_id , advertisement_id)
            cursor.execute(command,values)
            connection.commit() 

#to show used entites i will use this method in user interface part
def ShowUsed():
    with connection.cursor() as cursor:

      cursor.execute("select * from used ") # checking Is actor values implemented?
      used  = cursor.fetchall() 

      #print(used )
      for i in used : # to check better
        print(i)
        
ShowUsed()

{'programme_id': 1, 'advertisement_id': 2}
{'programme_id': 1, 'advertisement_id': 3}
{'programme_id': 2, 'advertisement_id': 3}
{'programme_id': 3, 'advertisement_id': 3}
{'programme_id': 4, 'advertisement_id': 1}
{'programme_id': 5, 'advertisement_id': 4}
{'programme_id': 5, 'advertisement_id': 5}
{'programme_id': 13, 'advertisement_id': 6}

### Plays Table Method:

In [72]:
# to add new record into play table i will use this method in user interface part

def insertPlays(programme_id , actor_id):
        with connection.cursor() as cursor:
            command="INSERT INTO plays(programme_id , actor_id) VALUES (%s,%s)"
            values=( programme_id , actor_id)
            cursor.execute(command,values)
            connection.commit() 

# to see entites from plays table i will use this method in user interface part
def ShowPlays():
    with connection.cursor() as cursor:

      cursor.execute("select * from plays ") # checking Is actor values implemented?
      used  = cursor.fetchall() 

      #print(used )
      for i in used : # to check better
        print(i)
        
ShowPlays()

{'programme_id': 1, 'actor_id': 1}
{'programme_id': 1, 'actor_id': 3}
{'programme_id': 2, 'actor_id': 1}
{'programme_id': 3, 'actor_id': 1}
{'programme_id': 4, 'actor_id': 5}
{'programme_id': 5, 'actor_id': 4}
{'programme_id': 13, 'actor_id': 6}

### Advanced method

In [73]:
# to see actor if their salary is higher than 30.000 or equal 30.000
def HighSalary():
    with connection.cursor() as cursor:
             #this cell help to see name and lastname where salary higher than 30.0000 or equal 30.0000
      cursor.execute("select actor_name, actor_lastname from actor where salary >= 30.000 ")  #this line ensures what is desired
      result1 = cursor.fetchall() 

    for c in result1: # ı use for loop to examine better
      print(c)
HighSalary()

{'actor_name': 'Özge', 'actor_lastname': 'Namal'}
{'actor_name': 'Halit', 'actor_lastname': 'Ergenç'}
{'actor_name': 'Tarık', 'actor_lastname': 'Akan'}

In [74]:
# to show which actor plays  in which programmes
def ShowActorsAndTheirProgrammes(): # ShowActorsAndTheirProgrammes
    with connection.cursor() as cursor:
      command = ("select *   " + 
               "from programmes inner join plays on programmes.programme_id = plays.programme_id  "
               "inner join actor on  plays.actor_id = Actor.actor_id" ) 
      cursor.execute(command)

      result2 = cursor.fetchall()

    for c in result2: # ı use for loop to examine better
         print(c)
    
ShowActorsAndTheirProgrammes()

{'programme_id': 1, 'programme_name': 'TolgaShow', 'programme_type': 'Comedi', 'presentation_date': datetime.date(2020, 5, 12), 'plays.programme_id': 1, 'actor_id': 1, 'actor.actor_id': 1, 'actor_name': 'Kıvanç', 'actor_lastname': 'Tatlıtuğ', 'salary': 15.0}
{'programme_id': 1, 'programme_name': 'TolgaShow', 'programme_type': 'Comedi', 'presentation_date': datetime.date(2020, 5, 12), 'plays.programme_id': 1, 'actor_id': 3, 'actor.actor_id': 3, 'actor_name': 'Özge', 'actor_lastname': 'Namal', 'salary': 30.0}
{'programme_id': 2, 'programme_name': 'FoxHaber', 'programme_type': 'News', 'presentation_date': datetime.date(2015, 11, 22), 'plays.programme_id': 2, 'actor_id': 1, 'actor.actor_id': 1, 'actor_name': 'Kıvanç', 'actor_lastname': 'Tatlıtuğ', 'salary': 15.0}
{'programme_id': 3, 'programme_name': 'Hercai', 'programme_type': 'Series', 'presentation_date': datetime.date(2020, 5, 6), 'plays.programme_id': 3, 'actor_id': 1, 'actor.actor_id': 1, 'actor_name': 'Kıvanç', 'actor_lastname': 'Tatlıtuğ', 'salary': 15.0}
{'programme_id': 4, 'programme_name': 'AvMevsimi', 'programme_type': 'movie', 'presentation_date': datetime.date(2018, 3, 8), 'plays.programme_id': 4, 'actor_id': 5, 'actor.actor_id': 5, 'actor_name': 'Beren', 'actor_lastname': 'Saat', 'salary': 10.0}
{'programme_id': 5, 'programme_name': 'Survior2021', 'programme_type': 'realityshow', 'presentation_date': datetime.date(2019, 5, 13), 'plays.programme_id': 5, 'actor_id': 4, 'actor.actor_id': 4, 'actor_name': 'Halit', 'actor_lastname': 'Ergenç', 'salary': 50.0}
{'programme_id': 13, 'programme_name': 'iboShow', 'programme_type': 'talkshow', 'presentation_date': datetime.date(2018, 5, 13), 'plays.programme_id': 13, 'actor_id': 6, 'actor.actor_id': 6, 'actor_name': 'Tarık', 'actor_lastname': 'Akan', 'salary': 30.0}

In [75]:
# to see which advertisemet used in which programme

def WhichAdvUsedInWhichProgramme():
    with connection.cursor() as cursor:
      command = ("select *   " + 
               "from advertisement inner join used on advertisement.advertisement_id = used.advertisement_id  "
               "inner join programmes on  used.programme_id = programmes.programme_id" ) 
      cursor.execute(command)

      result3 = cursor.fetchall()

    for c in result3: # ı use for loop to examine better
         print(c)
WhichAdvUsedInWhichProgramme()

{'advertisement_id': 2, 'advertisement_name': 'Akbank', 'period': 3, 'programme_id': 1, 'used.advertisement_id': 2, 'programmes.programme_id': 1, 'programme_name': 'TolgaShow', 'programme_type': 'Comedi', 'presentation_date': datetime.date(2020, 5, 12)}
{'advertisement_id': 3, 'advertisement_name': 'BmwCars', 'period': 1, 'programme_id': 1, 'used.advertisement_id': 3, 'programmes.programme_id': 1, 'programme_name': 'TolgaShow', 'programme_type': 'Comedi', 'presentation_date': datetime.date(2020, 5, 12)}
{'advertisement_id': 3, 'advertisement_name': 'BmwCars', 'period': 1, 'programme_id': 2, 'used.advertisement_id': 3, 'programmes.programme_id': 2, 'programme_name': 'FoxHaber', 'programme_type': 'News', 'presentation_date': datetime.date(2015, 11, 22)}
{'advertisement_id': 3, 'advertisement_name': 'BmwCars', 'period': 1, 'programme_id': 3, 'used.advertisement_id': 3, 'programmes.programme_id': 3, 'programme_name': 'Hercai', 'programme_type': 'Series', 'presentation_date': datetime.date(2020, 5, 6)}
{'advertisement_id': 1, 'advertisement_name': 'KaymakYogurt', 'period': 2, 'programme_id': 4, 'used.advertisement_id': 1, 'programmes.programme_id': 4, 'programme_name': 'AvMevsimi', 'programme_type': 'movie', 'presentation_date': datetime.date(2018, 3, 8)}
{'advertisement_id': 4, 'advertisement_name': 'RentCars', 'period': 5, 'programme_id': 5, 'used.advertisement_id': 4, 'programmes.programme_id': 5, 'programme_name': 'Survior2021', 'programme_type': 'realityshow', 'presentation_date': datetime.date(2019, 5, 13)}
{'advertisement_id': 5, 'advertisement_name': 'dark chocolate', 'period': 4, 'programme_id': 5, 'used.advertisement_id': 5, 'programmes.programme_id': 5, 'programme_name': 'Survior2021', 'programme_type': 'realityshow', 'presentation_date': datetime.date(2019, 5, 13)}
{'advertisement_id': 6, 'advertisement_name': 'Milshake', 'period': 3, 'programme_id': 13, 'used.advertisement_id': 6, 'programmes.programme_id': 13, 'programme_name': 'iboShow', 'programme_type': 'talkshow', 'presentation_date': datetime.date(2018, 5, 13)}

In [76]:
# to see high period from advertisement table
def LongPeriod():
    with connection.cursor() as cursor:
             #this cell help to see advertisemen where period higher than 3 or equal 3
      cursor.execute("select * from advertisement where period >= 3 ")  #this line ensures what is desired
      result4 = cursor.fetchall() 

    for c in result4: # ı use for loop to examine better
      print(c)
    
LongPeriod()

{'advertisement_id': 2, 'advertisement_name': 'Akbank', 'period': 3}
{'advertisement_id': 4, 'advertisement_name': 'RentCars', 'period': 5}
{'advertisement_id': 5, 'advertisement_name': 'dark chocolate', 'period': 4}
{'advertisement_id': 6, 'advertisement_name': 'Milshake', 'period': 3}

In [77]:

# to see programmes if advertisement used and  period is is higher than 3
def ShowProgrammeifhaveHighPeriod():
    with connection.cursor() as cursor: 
       command = ("select *   " + 
               "from programmes inner join used on programmes.programme_id = used.programme_id " +  
               "inner join advertisement on  used.programme_id = advertisement.advertisement_id  " + 
               "where period > 3")
       cursor.execute(command)

       result5 = cursor.fetchall()

       for c in result5: # ı use for loop to examine better
            print(c) 
            
ShowProgrammeifhaveHighPeriod()

{'programme_id': 4, 'programme_name': 'AvMevsimi', 'programme_type': 'movie', 'presentation_date': datetime.date(2018, 3, 8), 'used.programme_id': 4, 'advertisement_id': 1, 'advertisement.advertisement_id': 4, 'advertisement_name': 'RentCars', 'period': 5}
{'programme_id': 5, 'programme_name': 'Survior2021', 'programme_type': 'realityshow', 'presentation_date': datetime.date(2019, 5, 13), 'used.programme_id': 5, 'advertisement_id': 4, 'advertisement.advertisement_id': 5, 'advertisement_name': 'dark chocolate', 'period': 4}
{'programme_id': 5, 'programme_name': 'Survior2021', 'programme_type': 'realityshow', 'presentation_date': datetime.date(2019, 5, 13), 'used.programme_id': 5, 'advertisement_id': 5, 'advertisement.advertisement_id': 5, 'advertisement_name': 'dark chocolate', 'period': 4}

 # User Interface

In [ ]:
# user interface
done = False

while (not done): #while loop
    
    print("----------------- ")
    print("You are using TolgaTv database,please select one of the operation given below")
    x = input("[N]ew Record \n[S]how Table \n[A]dvanced command \n[E]xit\n") # show options
    
    if( x == "N"):
        
        print("Select table in order to new record:\n[P]rogramme Table \n[A]dvertisement Table\n[Ac]tors Table \n[U]sed Table\n[Pl]ays Table")
        record = input("Select table")
        
        if(record =="P"): # Record new value into programme table 
          programme_id  = input("Give programme_id")
          programme_name = input("Give programme_name")
          programme_type = input ("Give programme_type")  
          presentation_date= input("Give presentation_date") 
          insertprogrammes(programme_id, programme_name, programme_type, presentation_date)
        
        elif (record == "A"): # record new value into advertisement table
              advertisement_id = input ("Give advertisement_id")
              advertisement_name = input("Give advertisement_name")
              period= input ("Give  period")  
              insertAdvertisement( advertisement_id , advertisement_name , period)  
            
        elif(record == "Ac"): #record new value into actor table 
          actor_id    = input("Give actor_id  ")
          actor_name = input("Give actor_name")
          actor_lastname = input ("Give actor_lastname")  
          salary= input("Give salary") 
          insertActor(actor_id  , actor_name , actor_lastname,salary)  
        
        elif(record=="U"): # record new value into used table
          programme_id = input("Give programme_id")
          advertisement_id = input("Give advertisement_id")
          insertUsed(programme_id , advertisement_id)  
        
        elif(record =="Pl"):  # record new value into plays table    
          programme_id = input("Give programme_id")
          actor_id = input("Give actor_id")
          insertPlays(programme_id , actor_id)
        
        else: # if used give wron value system will restart
          print("Invalid value,try again")
            
    elif(x == "S"): 
        print("Select table in order to see table:\n[P]rogramme Table \n[A]dvertisement Table\n[Ac]tors Table \n[U]sed Table\n[Pl]ays Table")
        show = input("Select table")
        
        if(show =="P"): # to show programmes table 
            ShowProgrammes()
            
        elif(show =="A"): # to show advertisement table 
            ShowAdvertisement()
            
        elif(show =="Ac"):# to show actor  table 
            ShowActor()
            
        elif(show == "U"):# to show used table 
            ShowUsed()
         
        elif(show == "Pl"):# to plays  table 
            ShowPlays()
            
        else:
          print("Invalid value,try again")
            
    elif(x == "A"):
        print("You can see the command below  and their description\n[H]igh salary : Shows high salary  actors")
        print("[S]how actors and their programmes")
        print("[W]hich advertisement used in which programmes")
        print("[L]ong period: Show high period advertiseent ")
        print("[Sh]ow programmes if they have long period advertisement")
        
        select = input("select options") 
        
        if(select == "H"): # to see actor if their salary is higherr than 30.000 or equal 30.000
             HighSalary()
            
        elif (select =="S" ):  # show actors and their progremmes         
            ShowActorsAndTheirProgrammes()
        
        elif (select =="W"): # show which advertisement used in which programme
            WhichAdvUsedInWhichProgramme()
         
        elif(select == "L"): # show i advertisement's period is higher than 2
            LongPeriod()
                
        elif(select=="Sh") : # show programmes if they have long period advertisement
            ShowProgrammeifhaveHighPeriod()   
         
        else :            # ıf use give wrong input, this line will give error
             print("Invalid value,try again")
        
    elif(x=="E"): #if user press "E" interface will stop
        print("Bye")
        done = True
        
    else:
        print("Invalid value,try again")